/* CSS styles for the Weather-You-Need-Clothes project */
/* Defaults - Font */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CSS for the background videos */
#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* Class to center text and objects */
.center-text {
    text-align: center;
}

/* Font for Title */
#nosifer-regular {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    background-color: rgba(252, 250, 250, 0.6); /* semi-transparent white */
}

/* Styling the Main Title */
#nosifer-regular, h4 {
    font-style: normal;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: rgb(50, 172, 172);
    text-shadow: 1px 1px 1px rgb(27, 27, 27); 
    text-decoration: underline;
    text-decoration-color: rgb(27, 27, 27);
    border-radius: 5px;
}

/* clothes title hiding until function runs */
.cl-title-hide {
    display: none;
}

/* Editing the placeholder text */
#search-input::placeholder {
    color: rgb(27, 27, 27);
}

/* editing the buttons under the submit */
#search-btn, #clear-btn {
    display: block;
    margin: 5px auto;
    border-radius: 5px;    
    text-shadow: 1px 1px 1px rgb(27, 27, 27);
}

/* Adding CSS for the smaller clear button below submit */
#clear-btn {
    font-size: .9em;
    padding: 0px 10px 5px 10px;
}

/* Styling the search button and search placeholder */
#search-input {
    width: 20%;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-content.active {
    max-height: none; /* Or set to a specific value */
}

/* Style the collapsible section */
.collapsible-section {
    border: 1px solid #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
}

/* Style the collapsible button */
.collapsible-button {
    background-color: rgb(50, 172, 172) ;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
    text-align: center;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgb(27, 27, 27);
}

/* Style the collapsible button on hover */
.collapsible-button::first-letter {
    text-transform: uppercase;
}

/* Style the collapsible content */
.collapsible-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 18px;
    overflow: hidden;
    background-color: white;
}

/* Style the collapsible content div */
.collapsible-content div {
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%; 
    max-width: 400px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

/* Style the collapsible content div title */
.clothes-title {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

/* Style the collapsible content div image */
.collapsible-content img {
    max-width: 100%;
    height: auto;
}

/* Styling for the history buttons */
.history-buttons {
    border-radius: 5px;
    align-items: center;
    margin: 1.5px;
    padding: 3.5px;
    background-color: rgb(255, 255, 255);
}

/* Css for the clear button below the history buttons */
#clear-h-button {
    margin: 7px auto;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgb(27, 27, 27);
    
}

/* ------------------------------------------------------------ */
/* Media Querie Styling */
@media screen and (max-width: 2200px) {
    #myVideo {
        position: fixed;
        object-fit: cover;
        z-index: -1;
    }
}

@media screen and (max-width: 1350px) {
    #collapsible-content div {
        width: 50%;
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    #colapsible-content div{
        width: 50%;
        max-width: 200px;
    }
}

@media screen and (max-width: 400px)
{
    #colapsible-content div{
        width: 25%;
        max-width: 150px;
    }
    
}
.modal { display: block; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.modal-content { background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; }
.close { color: #aaa; float: right; font-size: 28px; font-weight: bold; }
.close:hover, .close:focus { color: black; text-decoration: none; cursor: pointer; }
